/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
  outline: 1px solid rgba(255, 0, 0, 0.3);
  background-color: rgba(0, 255, 0, 0.05);
}

:root {
    --orange: #E75E01;
    --blueDark: #183356;
    --blue: #1d4166;
    --white: #FFFFFF;
    --green: #71C938;
    --font-family: "Jersey 15", sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family);
    color: var(--white);
    border: 0;
}
p {
    font-family: var(--font-family);
    color: var(--secondary-color);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
    border: 0;
    
}

body {
    background-image: url("paysageEtenduBis.png");

    background-repeat: no-repeat;
    background-clip: screen;
    background-size: cover;
    background-attachment: bottom;
    background-position: bottom;
    height: 1000vh;
    aspect-ratio: auto;
    width: 100%;
    position: absolute;
    z-index: -1;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.rowTop
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: fixed;
    width: 100vW;
    padding-right: 2rem;
    padding-left: 2rem;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */

}

.colTop
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    z-index: 10;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    width: 100vw; /* Takes the entire width */
}

#decollage, #sabotage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Center items horizontally */
    width: 50%; /* Each takes 50% of the width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
#decollage{
    margin-left: -3rem;
}

#connexionDecollage {
    display: inline-flex;
    justify-content: start;
    padding-left: 4rem;
    align-items: center;
    background-color: var(--white);
    color: black;
    gap: 1rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    height: auto;
    box-sizing: border-box;


}

#connexionSabotage {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    padding-left: 0rem;
    align-items: center;
    background-color: var(--white);
    color: black;
    gap: 1rem;
    position: absolute;
    bottom: 0px;
    right: 20px;
    z-index: 2;
    width: auto;
    padding-right: 4.5rem;
    height: auto;
    padding-bottom: 1.5rem;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */


}

#container {
    position: relative;
    display: flex;
    flex-direction: column; /* Changed to column */
    justify-content: space-between; /* Distributes vertically */
    align-items: stretch; /* Stretch items to fill width */
    width: 100vw; /* Takes the entire width */
    height: 100%; /* Takes the entire viewport height */
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0;
    margin: 0;
}

.count{
    color: black;
    font-family: ver(--font-family);
    font-weight: 400;
    font-size: 90px;

}



#containerbottom {
    display: flex;
    position: fixed;
    flex-direction: row; /* Distributes decollage and sabotage in a row */
    justify-content: space-between; /* Distributes horizontally */
    align-items: stretch; /* Stretch items to fill height */
    width: 100%; /* Takes the entire width */
    height: 100%; /* Adjust height automatically */
    
}

.imageDecollage {
    width: 400px;;
    height: auto;
    aspect-ratio: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1; 
    margin-left: -1rem;
}

.imageSabotage {
    width: 400px;;
    height: auto;
    aspect-ratio: auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

.sabotage {
    position: relative;
}

.icon{
    size: 100%;
    width: 100%;
    height: 100%;
}

